*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#EEE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --color-bg: #1f1f38;
  --color-bg-variant:#2c2c6c;
  --color-bg-primary:#4db5ff;
  --color-bg-primary-variant:rgba(77,181,255,0.4);
  --color-white:#fff;
  --color-light:rgba(255,255,255,0.6);

  --color: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

  --transition: all 400ms ease;

  --container-width-lg:75%;
  --container-width-md:86%;
  --container-width-sm:90%;
}

header{
  display:flex;
  justify-content:center;
  align-content: center;
  padding:15px;
  background-color:#3c3c3c;
  border-bottom: 3px solid #56E3B8;
}

.faqs{
  width:100%;
  max-width: 768px;
  margin:0 auto;
  padding: 15px;
}

.faqs .faq{
  margin:15px;
  padding:15px;
  background-color:white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.faqs .faq .faq-question{
  position:relative;
  font-size: 20px;
  padding-right: 80px;

  transition: all 0.4s ease;
} 
.faqs .faq .faq-question::after{
  content:"";
  position:absolute;
  top:50%;
  right:0px;
  transform:translateY(-50%);
  width:30px;
  height:30px;

  background-image:url('../src/assets/arrow-down-mint.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  transition:all 0.4s ease-out;
}

.faqs .faq .faq-answer{
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4 ease-out;
}

.faqs .faq.open .faq-question{
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after{
  transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.open .faq-answer{
  max-height: 1000px;
  opacity: 1;
}